*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fdfdfd;
}

.container {
  width: min(80%, 720px);
  height: 460px;
}

/* Loader */
.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, .2);
}

.loader.loader--visible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__icon {
  width: 120px;
  height: 120px;
  animation: 2s linear rotation infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Notifications */
.notifications {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
}

/* Explorer */
.explorer {
  position: relative;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 40px 1fr;
  height: 100%;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .10);
}

.explorer__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 1 / 3;
  grid-row: 1;
  padding-inline: 16px;
  background-color: rgb(57, 125, 255);
}

.explorer__sidebar {
  padding: 12px;
  font-size: .75rem;
  background-color: rgb(235, 235, 235);
}

.explorer__sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.explorer__sidebar ul ul {
  margin-inline-start: 16px;
}

.explorer__sidebar li {
  user-select: none;
}

.explorer__sidebar li:hover {
  cursor: pointer;
}

.explorer__sidebar li.toggleable:before {
  content: '';
  position: relative;
  top: -1px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 4px solid transparent;
  border-left-color: #191919;
  transform-origin: center;
}

.explorer__sidebar li:not(.toggleable) {
  padding-inline-start: 8px;
}

.explorer__sidebar li.is-opened:before {
  transform: rotate(90deg) translate(25%, 25%);
}

.explorer__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-preview__image {
  border: 1px solid rgb(240, 240, 240);
  box-shadow: 0 5px 20px rgba(0, 0, 0, .10);
}

/* Debug */
.debug {
  margin-block: 6px;
  padding: 6px;
  color: #fdfdfd;
  background-color: #191919;
}